Data/Datasets Rapidminer/Python/Artist Recommended By.rmhdf5table
Data/Datasets Rapidminer/Python/loadreccomend with followers.rmhdf5table
Data/Datasets Rapidminer/SQL/artists.rmhdf5table
Data/Datasets Rapidminer/SQL/FinTable.rmhdf5table
Data/Datasets Rapidminer/Withartistpop.rmhdf5table
Data/Python/Correlation_with_top_song_per_Country.txt
Data/Python/dict_artists.json
Data/Python/loadartistrecommends.csv
Data/Python/loadartistrecommends.xlsx
Data/Python/loadreccomend with followers.csv
