Data/Datasets Rapidminer/Python/Artist Recommended By.rmhdf5table
Data/Datasets Rapidminer/Python/loadreccomend with followers.rmhdf5table
Data/Datasets Rapidminer/SQL/artists.rmhdf5table
Data/Datasets Rapidminer/SQL/FinTable.rmhdf5table
Data/Datasets Rapidminer/Withartistpop.rmhdf5table
Data/Python/Correlation_with_top_song_per_Country.txt
Data/Python/dict_artists.json
Data/Python/loadartistrecommends.csv
Data/Python/loadartistrecommends.xlsx
Data/Python/loadreccomend with followers.csv
Data/Datasets Rapidminer/Artist Recommended By.rmhdf5table
Data/Datasets Rapidminer/Withartistpopandgenre.rmhdf5table
Data/Other/loadreccomend with followers.rmhdf5table
Data/Other/FinTable.rmhdf5table
Data/Other/artists.rmhdf5table
Data/Other/artists.csv
Data/Other/dict_artists.json
Data/Other/loadartistrecommends.csv
Data/Other/loadreccomend with followers.csv
Data/Python/tracks_features.csv
Data/Python/Engineering/dict_artists.json
Flows/Results/Models/Model Bagging Random Forest.rmmodel
~$HDM Data Science v0226.pptx
HDM Data Science v0226.pptx
